<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                               
    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<display-name>cajas</display-name>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:/log4j.properties</param-value>
	</context-param>

	<!-- login filter -->
	<filter>
		<filter-name>login</filter-name>
		<filter-class>cajas.seguridad.filtro.Filtro</filter-class>
	</filter>
	<!-- set the login filter to secure all the pages in the /* path of the 
		application -->
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/views/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>/views/seguridad/login.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>